@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color0: #73292F;
    --color1: #A92030;
    --color2: #688C45;
    --color3: #CD5B2C;
    --color4: #F2F2F2;

    --font0: "Abril Fatface", serif;
    --font1: "Montserrat", sans-serif;
    --font-default: "Source Sans Pro", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color4);
}

#main-header {
    background-color: var(--color1);
    padding-block: 7px;
    backdrop-filter: blur(12.5px);
    filter: opacity(.9);
}

.main-header-title {
    color: white;
    text-align: center;
    font-family: var(--font0);
    font-size: 2.15em;
    font-weight: normal;
    letter-spacing: .1em;
}

nav {
    background-color: var(--color0);
    text-align: center;
    padding-block: 8px;
    filter: opacity(.9);
    position: sticky;
    top: 0px;
    backdrop-filter: blur(4px);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.nav-item {
    color: var(--color4);
    text-decoration: none;
    font-family: var(--font0);
    font-size: 20px;
}

.nav-item + .nav-item {
    margin-left: 15px;
}

.main-section-main {
    height: 86.8vh;
    display: flex;
    align-items: center;
}

.main-section-main-backvideo {
    position: fixed;
    top: 0px;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.main-section-main-text {
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    max-width: 400px;
    backdrop-filter: blur(10px);
    margin-left: 100px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: -1;
}

.main-section-main-text-title {
    color: white;
    font-family: var(--font0);
    font-weight: normal;
    background-color: rgba(105, 140, 69, 0.65);
    font-size: 30px;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    padding: 10px 20px;
}

.main-section-main-text-paragraph {
    color: var(--color4);
    font-family: var(--font-default);
    font-size: 21px;
    margin: 26px;
    line-height: 1.45em;
}

.main-section-main-text-button {
    width: 100%;
    font-family: var(--font1);
    text-transform: uppercase;
    border: none;
    border-radius: 0px 0px 5px 5px;
    font-size: 19px;
    color: black;
    padding-block: 18px;
    background-color: rgba(255, 255, 255, 0.73);
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.25);
}

.ingredientes-frescos {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1;
}

.ingredientes-frescos-text {
    padding-inline: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    box-shadow: 10px 0px 12px rgba(0, 0, 0, 0.527);
    z-index: 0;
}

.ingredientes-frescos-text-title {
    font-family: var(--font0);
    font-weight: normal;
    color: #0A0A0A;
    font-size: 2.7em;
    line-height: 57px;
}

.ingredientes-frescos-text-paragraph {
    font-family: var(--font-default);
    font-weight: 400;
    color: #161616;
    font-size: 1.25em;
    margin-top: 10px;
    line-height: 27px;
}

.ingredientes-frescos-image {
    width: 34.5%;
    height: 100%;
    object-fit: cover;
}

.main-section-backdishes {
    background-color: var(--color4);
}

.main-section-backdishes-header {
    padding-block: 100px;
    background: white url("images/backdishes/header-back-backdishes.jpg") center center no-repeat;
    background-size: cover;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.486);
    position: relative;
    margin-bottom: 20px;
}

.main-section-backdishes-header-title {
    font-family: var(--font0);
    color: white;
    font-size: 3em;
    text-align: center;
    letter-spacing: .4em;
    word-spacing: .6em;
}

.main-section-pratos-vegetais {
    height: 100vh;
    background-color: white;
}

.main-section-pratos-vegetais-header {
    background-image: url("images/backdishes/pratos-vegetais/background-pratos-vegetais.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 64px 0px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

.main-section-pratos-vegetais-header-title, .main-section-pratos-vegetais-header-subtitle {
    font-family: var(--font0);
    font-weight: normal;
    color: white;
    font-size: 36px;
    letter-spacing: .06em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.main-section-pratos-vegetais-header-title {
    margin-bottom: 3px;
}

.main-section-pratos-vegetais-header-subtitle {
    font-size: 28px;
    letter-spacing: .02em;
}

.main-section-pratos-vegetais-dishes {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 6vh;
}

.main-section-pratos-vegetais-dishes-item {
    background-color: var(--color2);
    padding: 10px;
    border-radius: 5px;
    height: 420px;
    max-width: 320px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.35);
}

.main-section-pratos-vegetais-dishes-item-title {
    font-family: var(--font1);
    color: white;
    font-weight: normal;
    text-transform: uppercase;
}

.main-section-pratos-vegetais-dishes-item-paragraph {
    font-family: var(--font-default);
    color: #FFFCFC;
    font-weight: 300;
    font-size: 1.1em;
}

.main-section-pratos-vegetais-dishes-item-image {
    width: 290px;
    margin-top: 20px;
    display: block;
    margin-inline: auto;
}

.main-section-pratos-vegetais-dishes-item-image-space {
    margin-top: 48px;
}